.game {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 60%;
    min-height: 400px;
    border-radius: .1rem;
    border: 1px solid black;
    margin-top: 5rem;
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    .gameText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        >p {
            font-size: 1.1rem;
        }

        .attempts-n-timer {
            display: flex;
            flex-direction: row;
            gap: .5rem;

            >div {
                display: flex;
                font-size: .9rem;
                margin-top: 1rem;
                text-align: center;
                padding: .2rem .5rem;
                border-radius: .2rem;
                background-color: rgb(100, 100, 100);
                color: white;
            }

            .timer-icon {
                filter: invert(100%);
                display: inline-block;
                background-image: url('./../assets/timer.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 1.2rem;
                height: 1.2rem;
                margin-right: .5rem;
            }
        }
    }


    .settings-icon, .close-icon {
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('./../assets/settings.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem;
        display: block;
        cursor: pointer;
    }

    .close-icon {
        background-image: url('./../assets/close-circle.svg');
    }

    form.gameinput {
        display: flex;
        margin-bottom: 5rem;

        input, button {
            border: 1px solid black;
            padding: .5rem 1rem;
        }
        input {
            border-radius: .3rem 0 0rem .3rem;
            border-right: 0;
            outline: none;
        }
        button {
            background-color: white;
            cursor: pointer;
            border-radius: 0 .3rem .3rem 0;
        }
    }

    .settings-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        >input, >label, .field {
            width: 80%;
            margin-bottom: 1rem;
        }

        >input {
            padding: .5rem 1rem;
            outline: none;
            border-radius: .3rem;
            border: 1px solid black;
        }

        >button {
            cursor: pointer;
            transition: translate 1s ease-in-out;
            background-color: rgb(0, 0, 0);
            color: rgb(224, 224, 224);
            padding: .5rem 2rem;
            margin-top: 1.5rem;
            border: none;
    
            &:hover {
                transform: translateY(-2%);
            }
        }
    }

    .winner {
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(153, 153, 153, 0.459);
        padding: 1rem;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;

        .winner-content {
            width: auto;
            border-radius: .2rem;
            background-color: rgb(255, 255, 255);
            padding: 2rem 5rem;
            color: black;

            .congrats {
                >h1, >p{
                    text-align: center;
                }
                >p {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }

            .highscoreLabel {
                font-size: .9rem;
            }

            >form {
                display: flex;
                margin: .3rem 0 3rem 0;
        
                input, button {
                    border: 1px solid black;
                    padding: .5rem 1rem;
                }
                input {
                    width: 100%;
                    border-radius: .3rem 0 0rem .3rem;
                    border-right: 0;
                    outline: none;
                }
                button {
                    background-color: white;
                    cursor: pointer;
                    border-radius: 0 .3rem .3rem 0;
                }
            }

            >.buttonCont {
                width: 100%;
                display: flex;
                justify-content: center;

                & button {
                    font-size: .9rem;
                    cursor: pointer;
                    padding: .8rem 1rem;
                    border: none;
                    background-color: black;
                    color: rgb(209, 209, 209);
                    margin-bottom: 1rem;
                }
            }

            .highscoreSaved {
                p {
                    line-height: 2.3rem;
                    text-align: center; 
                    >a {
                        color: rgb(59, 59, 59);
                        font-style: italic;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.feedback-container {
    display: flex;
    margin-bottom: 1rem;

    .feedback {
        border-radius: .5rem;
        width: 3.5rem;
        height: 3.5rem;
        display: grid;
        place-items: center;
        border: .15rem solid black;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        p {
            pointer-events: none;
            color: white;
            font-size: 1.5rem;
            -webkit-text-stroke: 1px #F8F8F8;
            text-shadow: 0px 2px 4px rgb(0, 0, 0);
            margin-top: 0;
            margin-bottom: 0;
        }

        &.correct{
            background-color: rgb(15, 121, 15);
        }

        &.misplaced {
            background-color: rgb(223, 223, 37);
        }
        &.incorrect {
            background-color: rgb(197, 32, 32);
        }
    }
}

// Checkbox
.switch {
    position: relative;
    display: inline-block;
    width: 60px !important;
    height: 34px;

    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #000000;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #ffffff;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

      /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
  
    .slider.round:before {
        border-radius: 50%;
    }
}